.song-details-wrapper {

  .heading {
    font-size: 32px;
    font-weight: 600;
    color: rgb(106, 106, 109);
    margin: 70px;
}

.details{
    color: rgb(106, 106, 109);
    .stitle{
          font-size: 32px;
      }
      
  }
}